
*.lock
.vs/ChessCards/v15/.suo
.vs/MyGameWin/v15/.suo
.vs/MyGameWin/v15/Server/sqlite3/storage.ide
.vs/MyGameWin/v15/Server/sqlite3/storage.ide-shm
.vs/MyGameWin/v15/Server/sqlite3/storage.ide-wal
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
bin/Debug/MyGame.exe
bin/Debug/MyGame.pdb
ChessTest/.vs/ChessTest/v15/.suo
ChessTest/.vs/ChessTest/v15/Server/sqlite3/storage.ide
ChessTest/.vs/ChessTest/v15/Server/sqlite3/storage.ide-shm
ChessTest/.vs/ChessTest/v15/Server/sqlite3/storage.ide-wal
ChessTest/bin/Debug/ChessTest.dll
ChessTest/bin/Debug/ChessTest.pdb
ChessTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
ChessTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
ChessTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
ChessTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
ChessTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
ChessTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
ChessTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
ChessTest/bin/Debug/MyGame.exe
ChessTest/bin/Debug/MyGame.pdb
ChessTest/bin/Debug/Resources/animations/startup.txt
ChessTest/bin/Debug/Resources/bundles/FileDialog.txt
ChessTest/bin/Debug/Resources/bundles/splash.txt
ChessTest/bin/Debug/Resources/fonts/arial.ttf
ChessTest/bin/Debug/Resources/fonts/cour.ttf
ChessTest/bin/Debug/Resources/fonts/maven_pro_regular.ttf
ChessTest/bin/Debug/Resources/images/fdFile.png
ChessTest/bin/Debug/Resources/images/fdFolder.png
ChessTest/bin/Debug/Resources/images/FileDialog_Active.png
ChessTest/bin/Debug/Resources/images/FileDialog_Background.png
ChessTest/bin/Debug/Resources/images/FileDialog_Inactive.png
ChessTest/bin/Debug/Resources/images/FileDialog_Scroll.png
ChessTest/bin/Debug/Resources/images/FileDialog_ScrollSmall.png
ChessTest/bin/Debug/Resources/images/Swinburne.jpg
ChessTest/bin/Debug/Resources/images/SwinGameAni.png
ChessTest/bin/Debug/Resources/panels/FileDialog.txt
ChessTest/bin/Debug/Resources/sounds/error.wav
ChessTest/bin/Debug/Resources/sounds/SwinGameStart.wav
ChessTest/bin/Debug/Resources/SwinGame.icns
ChessTest/bin/Debug/Resources/SwinGame.ico
ChessTest/bin/Debug/SwinGame.dll
ChessTest/obj/Debug/ChessTest.csproj.CopyComplete
ChessTest/obj/Debug/ChessTest.csproj.CoreCompileInputs.cache
ChessTest/obj/Debug/ChessTest.csproj.FileListAbsolute.txt
ChessTest/obj/Debug/ChessTest.csprojAssemblyReference.cache
ChessTest/obj/Debug/ChessTest.dll
ChessTest/obj/Debug/ChessTest.pdb
ChessTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ChessTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ChessTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ChessTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ChessTest/obj/Release/ChessTest.csproj.CoreCompileInputs.cache
obj/Debug-Mac/MyGameMac.csproj.CoreCompileInputs.cache
obj/Debug-Mac/MyGameMac.csprojAssemblyReference.cache
obj/Debug-Unix/MyGameUnx.csproj.CoreCompileInputs.cache
obj/Debug-Unix/MyGameUnx.csprojAssemblyReference.cache
obj/x86/Debug-Windows/MyGame.exe
obj/x86/Debug-Windows/MyGame.pdb
obj/x86/Debug-Windows/MyGameWin.csproj.CopyComplete
obj/x86/Debug-Windows/MyGameWin.csproj.CoreCompileInputs.cache
obj/x86/Debug-Windows/MyGameWin.csproj.FileListAbsolute.txt
obj/x86/Debug-Windows/MyGameWin.csprojAssemblyReference.cache
obj/x86/Debug-Windows/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/x86/Debug-Windows/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/x86/Debug-Windows/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
